<div class="flex justify-center m-auto">
    <span class="text-xs text-center">Bienvenido al chabot, puedes iniciar haciendo una pregunta</span>
</div>

<ng-container *ngIf="messages.length > 0">
    <div *ngFor="let message of messages" class="p-2">
        <div class="grid grid-cols-1 items-end bg-gray-50 shadow-lg rounded-lg relative">
            <span class="pl-1 pt-1 text-blue-800 font-bold top-0 right-0 text-start text-sm">{{message.user}}</span>
            <div class="pl-1 pt-1 pb-3">
                <span>{{message.text}}</span>
            </div>
            <span class="text-secondary absolute botom-0 right-0 text-end text-sm">{{message.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
    </div>
</ng-container>